<h2 class="titulo-atividade">Entregável 2 - Julia Martins</h2>


<form [formGroup]="tarefasForm" (ngSubmit)="addTarefa()">
  <input type="text" formControlName="titulo" placeholder="Título">
  <input type="text" formControlName="descricao" placeholder="Descrição">
  <input type="date" formControlName="vencimento">
  <button type="submit">Adicionar Tarefa</button>
</form>

@if (tarefas.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (tarefa of tarefas; track tarefa.id) {
        <tr>
          <td>{{ tarefa.titulo }}</td>
          <td>{{ tarefa.descricao }}</td>
          <td>{{ tarefa.vencimento | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button class="remove-btn" (click)="removeTarefa(tarefa.id)">Remover</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
